# Public mobile/build configuration only. Never put backend API keys here.
APP_PROJECT_ID='your-project-id'
APP_FUNCTION_REGION='us-central1'
APP_API_BASE_URL='https://us-central1-your-project-id.cloudfunctions.net/'
APP_CONNECT_TIMEOUT_MS='30000'
APP_READ_TIMEOUT_MS='120000'
APP_WRITE_TIMEOUT_MS='30000'
APP_MAX_FILE_SIZE='102400'
APP_MAX_FILES_COUNT='2'
APP_API_LOGGING='false'
APP_ANDROID_FIREBASE_JSON=''
APP_IOS_FIREBASE_JSON=''
APP_ENDPOINT_SUBMIT_ESSAY='submit_essay'
APP_ENDPOINT_GET_ESSAY_SUBMISSION='get_essay_submission'
APP_ENDPOINT_GET_USER_SUBMISSIONS='get_user_submissions'
APP_ENDPOINT_GET_STREAK='get_streak'
APP_ENDPOINT_GET_PROGRESS_STATS='get_progress_stats'
APP_ENDPOINT_GET_CATEGORY_STATS='get_category_stats'
APP_ENDPOINT_GET_GAMIFICATION='get_gamification'
APP_ENDPOINT_SAVE_USER_PREFERENCES='save_user_preferences'
APP_ENDPOINT_GET_USER_PREFERENCES='get_user_preferences'
APP_ENDPOINT_EXTRACT_PDF_TEXT='extract_pdf_text'
APP_ENDPOINT_HEALTH_CHECK='health_check'
APP_ENDPOINT_GET_USER_PROFILE='get_user_profile'
APP_ENDPOINT_UPDATE_USER_PROFILE='update_user_profile'
APP_ENDPOINT_DELETE_ACCOUNT='delete_account'
APP_ENDPOINT_SUBMIT_GAME_RESULT='submit_game_result'
APP_ENDPOINT_DETAIL_DETECTIVE_EVALUATE='detail_detective_evaluate'
APP_ENDPOINT_BOSS_BATTLE_SUBMIT='boss_battle_submit'
APP_ENDPOINT_GET_GRADE_LEADERBOARD='get_grade_leaderboard'
APP_ENDPOINT_GET_STATE_LEADERBOARD='get_state_leaderboard'
APP_ENDPOINT_GET_DAILY_VOCAB='get_daily_vocab'
APP_ENDPOINT_GENERATE_PSSA_QUESTIONS='generate_pssa_questions'
APP_ENDPOINT_EVALUATE_PSSA_WRITING='evaluate_pssa_writing'

APP_MAX_PHOTO_SIZE='819200'
APP_PSSA_DEFAULT_GRADE='4'
APP_PSSA_AVAILABLE_GRADES='["3","4"]'
APP_PSSA_DEFAULT_DOMAIN='reading_fiction'
APP_PSSA_DEFAULT_DIFFICULTY='medium'
APP_PSSA_DEFAULT_QUESTION_COUNT='10'
APP_DEFAULT_STATE='PA'
APP_DEFAULT_GRADE='6'

BUILD_RELEASE_STORE_FILE=''
BUILD_RELEASE_KEY_ALIAS=''
BUILD_RELEASE_STORE_PASSWORD=''
BUILD_RELEASE_KEY_PASSWORD=''

APP_ESSAY_CATEGORIES='{"essay_writing":{"min":50,"max":500},"ela":{"min":50,"max":400},"math":{"min":30,"max":300},"science":{"min":50,"max":450}}'

APP_MAX_STREAK_DAYS='365'
